<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="MemoryGameLibrary.MemoryGame">
        
        <endpoint address="http://localhost:13000/MemoryGameLibrary/MemoryGameService" binding="wsDualHttpBinding" contract="MemoryGameLibrary.IMemoryGame"/>
        
      </service>
    </services>
  </system.serviceModel>
</configuration>
